<!DOCTYPE html> <!-- Declares the document type and version of HTML -->
<html lang="en"> <!-- Sets the language of the document to English -->
<head>
    <meta charset="UTF-8"> <!-- Specifies the character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ensures proper rendering on mobile devices -->
    <title>Pikadex</title> <!-- Title of the web page shown in the browser tab -->
    
    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="css/todo.css">
</head>
<body>
    <!-- Body of the HTML page; currently empty -->
</body>
</html>
